<%= simple_form_for(@data_query, html: { role: "form", class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.label :content, 'Content', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.input_field :content, as: :text, class: "form-control"  %>
    </div>
  </div>

  <div class="form-actions">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.button :submit, class: "btn btn-default" %>
    </div>
  </div>

<% end %>
