<h2>Listing Data Queries</h2>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Query Content</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @data_queries.each do |data_query| %>
      <tr>
        <td><%= data_query.name %></td>
        <td><%= data_query.content %></td>
        <td><%= link_to 'Show', data_query, class: "btn btn-link" %></td>
        <td><%= link_to 'Edit', edit_data_query_path(data_query), class: "btn btn-link" %></td>
        <td><%= link_to 'Destroy', data_query, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Data query', new_data_query_path, class: "btn btn-link" %>
