<div class="container">
<h2>Resend confirmation instructions</h2>

<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, role: "form", class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :confirmation_token %>

  <div class="form-group">
    <%= f.label :email, 'Email', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.input_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.button :submit, "Resend confirmation instructions", class: "btn btn-default"  %>
    </div>
  </div>
<% end %>
</div>
<%= render "admins/shared/links" %>
