<div class="container">


<button class="btn btn-primary js-submit-query" data-loading-text="Processing...">
  Analyze Now
</button>

<br/>

<ul class="nav nav-tabs" id="section-tabs">
  <li class="active"><a href="#filter" data-toggle="tab">Filter</a></li>
  <li><a href="#group" data-toggle="tab">Group</a></li>
  <li><a href="#child_query" data-toggle="tab">Child Query</a></li>
  <li><a href="#measures" data-toggle="tab">Measures</a></li>
  <li><a href="#json_data" data-toggle="tab">JSON Query</a></li>
</ul>

<div class="tab-content">

  <div id="filter" class="tab-pane active current">
    <%= render 'filter' %>
  </div>

  <div id="group" class="tab-pane next">
    <%= render 'group' %>
  </div>

  <div id="child_query" class="tab-pane next">
  <%= render 'child_query' %>
  </div>

  <div id="measures" class="tab-pane next">
    <%= render 'measures' %>
  </div>

  <div id="json_data" class="tab-pane next">
    <%= render 'json_data' %>
  </div>

</div>

<hr>
</div>
