<div class="container">

<%= simple_form_for :filter, html: {role: 'form', class: 'form-horizontal' }, url: '/logs' do |f| %>
  <div class="form-group">
    <%= f.label :application, 'Application', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.input_field :application, collection: @application_list, class: "form-control chosen-select" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :activity, 'Activity', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.input_field :activity, collection: @activity_list, class: "form-control chosen-select" %>
    </div>
  </div>
  <div class="form-group">
    <label for="start_period", class= "col-sm-3 control-label">Start Period</label>
    <div class="col-sm-9">
      <input type="datetime-local" class="form-control" id="start_period">
    </div>
  </div>
  <div class="form-group">
    <label for="end_period" class= "col-sm-3 control-label">End Period</label>
    <div class="col-sm-9">
      <input type="datetime-local" class="form-control" id="end_period" value="<%= Time.now.strftime("%Y-%m-%dT%H:%M:%S") %>">
    </div>
  </div>
  <div class="form-group">
    <%= f.label :time_zone, 'Time Zone', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
    <%= f.input_field :time_zone, class: "form-control" %>
    </div>
  </div>
<% end %>
</div>

<div class="container">
<div class="table-responsive">
<table class="table table-hover table-condensed" id="logs" data-source="<%= logs_url(format: "json") %>">
  <thead>
    <tr>
      <th class="col-sm-1">Session</th>
      <th class="col-sm-1">Username</th>
      <th class="col-sm-1">Application</th>
      <th class="col-sm-1">Activity</th>
      <th class="col-sm-1">Event</th>
      <th class="col-sm-1">Time</th>
      <th class="col-sm-3">Parameters</th>
      <th class="col-sm-2">Extras</th>
      <th class="col-sm-1">Event Value</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div>
</div>