<h1>Listing logs</h1>

<%= simple_form_for :filter, html: {class: 'form-horizontal' }, url: '/logs' do |f| %>
  <div class="form-group">
    <%= f.input :application, collection: @application_list, required: false %>
  </div>
  <div class="form-group">
    <%= f.input :activity, collection: @activity_list, required: false %>
  </div>
  <div class="form-group">
    <label for="start_period">Start Period</label>
    <input type="datetime-local" id="start_period"  value="1970-01-01T00:00:00.00">
  </div>
  <div class="form-group">
    <label for="end_period">End Period</label>
    <input type="datetime-local" id="end_period" value="<%= Time.now.strftime("%Y-%m-%dT%H:%M:%S") %>">
  </div>
  <div class="form-group">
    <%= f.input :time_zone, required: false %>
  </div>
<% end %>

<div class="table-responsive">
<table class="table table-hover table-condensed" id="logs" data-source="<%= logs_url(format: "json") %>">
  <thead>
    <tr>
      <th class="col-sm-1">Session</th>
      <th class="col-sm-1">Username</th>
      <th class="col-sm-1">Application</th>
      <th class="col-sm-1">Activity</th>
      <th class="col-sm-1">Event</th>
      <th class="col-sm-1">Time</th>
      <th class="col-sm-3">Parameters</th>
      <th class="col-sm-2">Extras</th>
      <th class="col-sm-1">Event Value</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div>
<br>