<p id="notice"><%= notice %></p>

<p>
  <strong>Session:</strong>
  <%= @log.session %>
</p>

<p>
  <strong>User:</strong>
  <%= @log.user %>
</p>

<p>
  <strong>Application:</strong>
  <%= @log.application %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @log.activity %>
</p>

<p>
  <strong>Event:</strong>
  <%= @log.event %>
</p>

<p>
  <strong>Time:</strong>
  <%= @log.time %>
</p>

<p>
  <strong>Parameters:</strong>
  <%= @log.parameters %>
</p>

<p>
  <strong>Extras:</strong>
  <%= @log.extras %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
