<!DOCTYPE html>
<html>

<head>
  <title>LogManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<h1>Analytics</h1>
<%= link_to "All",analytics_all_path %> | <%= link_to "Filter",analytics_filter_path %> | <%= link_to "Group",analytics_group_path %> | <%= link_to "Transformation", analytics_transformation_path %>
<%= yield %>
</body>

</html>
