<!DOCTYPE html>
<html>

<head>
  <title>LogManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Log Manager</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if params[:controller] == 'pages' && params[:action] == 'main' %>"><%= link_to "Home",pages_main_path %></li>
          <li class="<%= 'active' if params[:controller] == 'pages' && params[:action] == 'about' %>"><%= link_to "About",pages_about_path %></li>
          <li class="<%= 'active' if params[:controller] == 'logs' && params[:action] == 'index' %>"><%= link_to "Logs",logs_path %></li>
          <li class="<%= 'active' if params[:controller] == 'pages' && params[:action] == 'explore' %>"><%= link_to "Explore",pages_explore_path %></li>
          <li><a href="http://codap.concord.org/releases/latest/?moreGames=<%= ERB::Util.url_encode("[{\"name\": \"Data Interactive\", \"dimensions\": {\"width\": 600, \"height\": 400}, \"url\": \"#{url_for :controller => 'data_interactive', :action => 'index', :only_path => false}\"}]") %>">CODAP</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "Data Queries", data_queries_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          <% elsif admin_signed_in? %>
            <li><%= link_to "Dashboard", rails_admin_path %></li>
            <li><%= link_to "Sign out", destroy_admin_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <%= render partial: "shared/flash_messages", flash: flash %>
  <%= yield %>

</body>

</html>
